LOG=INFO

DB_IMAGE=

STATE_VOLUME=

GRAYLOG_HOST=
GRAYLOG_PORT=

API_USERNAME=
API_PASSWORD_HASH=

RESTART_POLICY=always
AHW_DOCKER_NETWORK=
# Available Country codes
# BFA for Burkina Faso
# MLI for Mali
# MRT for Mauritania
# NER for Niger
# SEN for Senegal
# TCD for Chad
COUNTRY_ISO_CODES=

# use _armv7 for armv7 platform. Leave empty for x86_64
DOCKER_COMPOSE_WAIT_PLATFORM_SUFFIX=
DOCKER_NETWORK_NAME=aemet
